NEXT_PUBLIC_API_HOST=explorer-v2.ozonescan.com
NEXT_PUBLIC_API_PROTOCOL=https
NEXT_PUBLIC_STATS_API_HOST=https://stats-explorer-mainnet-v2.ozonescan.com
NEXT_PUBLIC_NETWORK_NAME="Ozone Mainnet"
NEXT_PUBLIC_NETWORK_SHORT_NAME=Ozone
NEXT_PUBLIC_NETWORK_ID=10121
NEXT_PUBLIC_NETWORK_CURRENCY_NAME=Ozone
NEXT_PUBLIC_NETWORK_CURRENCY_SYMBOL=OZONE
NEXT_PUBLIC_NETWORK_LOGO=https://raw.githubusercontent.com/OA-Technology-Inc/explorer-images/main/network_logo.png
NEXT_PUBLIC_NETWORK_LOGO_DARK=https://raw.githubusercontent.com/OA-Technology-Inc/explorer-images/main/network_logo_dark.png
NEXT_PUBLIC_NETWORK_ICON=https://raw.githubusercontent.com/OA-Technology-Inc/explorer-images/main/network_icon.png
NEXT_PUBLIC_NETWORK_ICON_DARK=https://raw.githubusercontent.com/OA-Technology-Inc/explorer-images/main/network_icon_dark.png
NEXT_PUBLIC_VIEWS_ADDRESS_FORMAT='["bech32","base16"]'
NEXT_PUBLIC_VIEWS_ADDRESS_BECH_32_PREFIX=ozone
NEXT_PUBLIC_HAS_BEACON_CHAIN=true
NEXT_PUBLIC_BEACON_CHAIN_CURRENCY_SYMBOL=OZONE
NEXT_PUBLIC_NETWORK_CURRENCY_DECIMALS=18
NEXT_PUBLIC_API_BASE_PATH=/
NEXT_PUBLIC_APP_HOST=explorer-v2.ozonescan.com
NEXT_PUBLIC_APP_PORT=3000
NEXT_PUBLIC_APP_PROTOCOL=https
NEXT_PUBLIC_HOMEPAGE_CHARTS='["daily_txs"]'
NEXT_PUBLIC_VISUALIZE_API_HOST=https://visualizer-explorer-mainnet-v2.ozonescan.com
NEXT_PUBLIC_IS_TESTNET=false
NEXT_PUBLIC_API_WEBSOCKET_PROTOCOL=wss
NEXT_PUBLIC_HOMEPAGE_HERO_BANNER_CONFIG='{"background":["url(https://raw.githubusercontent.com/OA-Technology-Inc/explorer-images/main/ozone.plate.png) center center / cover no-repeat, linear-gradient(357deg, rgba(62, 166, 255, 1) 0%, rgba(137, 115, 184, 1) 30%, rgba(237, 47, 89, 1) 100%)"]}'
NEXT_PUBLIC_PROMOTE_BLOCKSCOUT_IN_TITLE=false
NEXT_PUBLIC_OG_DESCRIPTION='The Ozone blockchain represents a cutting-edge, sovereign Proof-Of-Stake (PoS) network designed for exceptional performance and scalability.'
NEXT_PUBLIC_OG_IMAGE_URL=https://raw.githubusercontent.com/OA-Technology-Inc/explorer-images/main/ozoneog.png
NEXT_PUBLIC_AD_BANNER_PROVIDER=none
NEXT_PUBLIC_AD_TEXT_PROVIDER=none
FAVICON_MASTER_URL=https://raw.githubusercontent.com/OA-Technology-Inc/explorer-images/main/network_icon.png
NEXT_PUBLIC_FOOTER_LINKS='[{"title":"Explore","links":[{"text":"Home","url":"https://ozonescan.com/"},{"text":"Staking","url":"https://staking.ozonescan.com/Ozone%20Chain"},{"text":"Tokens","url":"https://ozonescan.com/tokens"},{"text":"Charts & Stats","url":"https://ozonescan.com/charts"},{"text":"API","url":"https://ozonescan.com/api"}]}]'
NEXT_PUBLIC_FEATURED_NETWORKS='[{"title":"Ozone Mainnet","url":"https://ozonescan.com","group":"Mainnets","icon":"https://raw.githubusercontent.com/OA-Technology-Inc/explorer-images/main/network_icon_dark.png"},{"title":"Ozone Testnet","url":"https://testnet.ozonescan.com","group":"Testnets","icon":"https://raw.githubusercontent.com/OA-Technology-Inc/explorer-images/main/network_icon_dark.png"}]'
NEXT_PUBLIC_HOMEPAGE_STATS='["total_blocks","average_block_time","total_txs","wallet_addresses","gas_tracker","coin_price","total_supply","circulating_supply","platform_tvl","user_tvl"]'
NEXT_PUBLIC_HIDE_INDEXING_ALERT_BLOCKS=false
NEXT_PUBLIC_HIDE_INDEXING_ALERT_INT_TXS=false
GIT_LFS_SKIP_PUSH=1